/*  your css code here. If applicable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    text-align: center;
}

.container {
    max-width: 400px;
    background-color: #d9e2e2;
    padding: 20px;
    box-shadow: 0px 0px 15px #8ecaca;
}

img {
    padding-top: 30px;
    width: 300px;
    height: 250px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.but-one {
    margin: 20px;
    padding: 15px;
    width: 130px;
    border: 2px solid #d1cdcd;
    border-radius: 15px;
    background-color: #ee5252f2;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}